* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding: 20px 0;
    background-color: grey;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 400px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 20px;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header__link {
    font-size: 20px;
    color: gold;
    text-decoration: none;
    padding: 15px;
}

.header__link:hover {
    color: white;
    background-color: gold;
    border-radius: 25px;
    transition: 0.3s ease-in-out;

}

.about {
    text-align: center;
    padding: 40px 0;
    background-color: #f3f3f3;
}

.about__title {
    color: rgb(115, 102, 102);
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.about__title:hover {
    color: gold;
    transition: 0.3s;
}

.about__text {
    color: rgb(115, 102, 102);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 0 40px;
}

.about__text:hover {
    color: gold;
    transition: 0.3s;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__right {
    border-radius: 50px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.about__right img {
    width: 500px;
    border-radius: 10px;
}

.about__info {
    text-align: left;
    max-width: 500px;
}

.about__btn {
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 12px 25px;
    border: 2px solid grey;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
    display: inline-block;
    margin-top: 40px;
}

.about__btn:hover {
    color: white;
    background-color: grey;
    box-shadow: 7px 7px 0px black;
}

.about__right:hover {
    box-shadow:
        gold 0px 30px 60px -12px,
        gold 0px 18px 36px -18px;
}

