* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #bdb6b6; */
}

body {
    background-color: #ffffff;
}

.header {
    padding: 20px 0;
    background-color: grey;

}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: px;
    /* background-color: orange; */
    display: inline-block;
    vertical-align: middle;
}

.header__wrapper {
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    vertical-align: middle;
    display: inline-block;
    margin-left: 300px;
}

.header__item {
    display: inline-block;
    margin-left: 20px;
}

.header__list {
    list-style: none;    
}

.header__link {
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 15px;
}

.header__link:hover {
    color: white;
    background-color: gold;
    border-radius: 25px;
    transition: 0.4s;
}
 
.about {
    text-align: center;     
    padding: 60px 0;
    background-color: #fff;
}

.about__wrapper {
    
}

.about__title {
    color: rgb(115, 102, 102);
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.about__text {
    color: rgb(115, 102, 102);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 20px 0 40px;
}

.about__img {
    display: inline-block;  
    vertical-align: middle; 
    margin-right: 30px;     
}

.about__img img {
    width: 400px;
    border-radius: 10px;
}

.about__info {
    display: inline-block;  
    vertical-align: middle; 
    text-align: left;       
    max-width: 500px;
}

.about__btn {
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 12px 25px;
    border: 2px solid grey;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
    display: inline-block;  
    margin-top: 40px;    
}

.about__btn:hover {
    color: white;
    background-color: grey;
}
