* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #bdb6b6; */
}

body {
    background-color: #1e1e1e;
}

.header {
    padding: 20px 0;
    background-color: grey;

}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: px;
    /* background-color: orange; */
    display: inline-block;
    vertical-align: middle;
}

.header__wrapper {
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    vertical-align: middle;
    display: inline-block;
    margin-left: 400px;
}

.header__item {
    display: inline-block;
    margin-left: 20px;
}

.header__list {
    list-style: none;    
}

.header__link {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

