* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding: 20px 0;
    background-color: rgba(128, 128, 128, 0.553);
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100%;
    backdrop-filter: blur(20px);
    top: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 400px;
    transition: 0.3s;
}

.logo:hover {
    transition: 0.5s;
    transform: scale(1.19);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 20px;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header__link {
    font-size: 20px;
    color: gold;
    text-decoration: none;
    padding: 15px;
}

.header__link:hover {
    color: white;
    background-color: gold;
    border-radius: 25px;
    transition: 0.3s ease-in-out;

}

.group {
    text-align: center;
    padding: 20px 0;
}

.group__title {
    color: rgb(115, 102, 102);
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.group__title:hover {
    color: gold;
    transition: 0.3s;
    transform: scale(1.03);
}

.group__text {
    color: rgb(115, 102, 102);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 0 40px;
}

.group__text:hover {
    color: gold;
    transition: 0.3s;
    transform: scale(1.03);
}

.group__right {
    border-radius: 50px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    box-shadow: 24px 24px 24px rgba(0, 0, 0, 0.3);
}

.group__right img {
    width: 500px;
    border-radius: 10px;
}

.group__right:hover {
    transform: scale(1.03);
    box-shadow:
        gold 0px 30px 60px -12px,
        gold 0px 18px 36px -18px;
}


.group__info {
    text-align: left;
    max-width: 500px;
}

.group__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    /* justify-items: center; */
    text-align: center;
    padding: 80px 0;
    margin-top: 40px;
}


.box__list{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;     
}


    /* card */
.card {
    width: 312px;
    height: 480px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.3));
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    margin-top: 80px;
    transition: 0.3s;
    /* margin-left: 30px; */
    box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.3);
}

.text {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50px;
    padding: 10px 0;
    margin-bottom: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.text:hover{
    transition: all 0.3s ease;
    transform: scale(1.09);
}

.card:hover {
    transition: 0.3s;
    transform: scale(1.03);
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
}

.card__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;

}

.card__info,
.card__info2,
.card__info3,
.card__info4,
.card__info5 {
    z-index: 2;
    padding: 40px 20px;
    text-align: center;

    position: relative;
    bottom: -100%;

    transition: .3s ease-in-out;
}

.card__info:hover,
.card__info2:hover,
.card__info3:hover,
.card__info4:hover,
.card__info5:hover {
    transform: scale(1.03);
}

.card__wrapper:hover .card__info,
.card__wrapper2:hover .card__info2,
.card__wrapper3:hover .card__info3,
.card__wrapper4:hover .card__info4,
.card__wrapper5:hover .card__info5  {

    bottom: 0px;

}

.card__wrapper:hover::after {
    content: "";
    position: absolute;

    left: -20px;
    bottom: -30px;
    top: 0;
    right: -20px;
    background-image: url("/src/M.qodir.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    mask-image: linear-gradient(to top, white 20%, transparent 70%);
}

.card__wrapper2:hover::after {
    content: "";
    position: absolute;

    left: -20px;
    bottom: -30px;
    top: 0;
    right: -20px;
    background-image: url("/src/shabnam.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    mask-image: linear-gradient(to top, white 20%, transparent 70%);
}

.card__wrapper3:hover::after {
    content: "";
    position: absolute;

    left: -20px;
    bottom: -30px;
    top: 0;
    right: -20px;
    background-image: url("/src/Munisa.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    mask-image: linear-gradient(to top, white 20%, transparent 70%);
}

.card__wrapper4:hover::after {
    content: "";
    position: absolute;

    left: -20px;
    bottom: -30px;
    top: 0;
    right: -20px;
    background-image: url("/src/Hilola.JPG");
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    mask-image: linear-gradient(to top, white 20%, transparent 70%);
}

/* .card__wrapper5:hover::after {
    content: "";
    position: absolute;

    left: -20px;
    bottom: -30px;
    top: 0;
    right: -20px;
    background-image: url("/src/photo_2025-10-03_12-31-38.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    mask-image: linear-gradient(to top, white 20%, transparent 70%);
} */

.card__title,
.card__title2,
.card__title3,
.card__title4,
.card__title5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}


.card__btn,
.card__btn2,
.card__btn3,
.card__btn4,
.card__btn5 {
    background: linear-gradient(180deg, #000, #333);
    border: none;
    color: #fff;
    padding: 12px 0;
    border-radius: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card__btn:hover,
.card__btn2:hover,
.card__btn3:hover,
.card__btn4:hover,
.card__btn5:hover  {
    transition: all 0.3s ease;
    transform: scale(1.09);
}