* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding: 20px 0;
    background-color: grey;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 400px;
    transition: 0.3s;
}

.logo:hover {
    transition: 0.5s;
    transform: scale(1.19);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 20px;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header__link {
    font-size: 20px;
    color: gold;
    text-decoration: none;
    padding: 15px;
}

.header__link:hover {
    color: white;
    background-color: gold;
    border-radius: 25px;
    transition: 0.3s ease-in-out;

}


